# docker-compose up
# docker rm $(docker ps -a -q) && docker volume prune -f


services:
  postgres:
    image: postgres
    restart: always
    container_name: postgres
    env_file:
      - "$PWD/.env"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_HOST: ${POSTGRES_HOST}
    ports:
      - '${POSTGRES_PORT}:${POSTGRES_PORT}'
    volumes:
      - 'pgdata:/var/lib/postgresql'
      - './deploy/_postgres:/docker-entrypoint-initdb.d'
      - './data_csv:/home/csv'
    tty: true

  go-api:
    build:
      context: .
      dockerfile: deploy/images/api/Dockerfile
    container_name: AvitoTechApi
    env_file:
      - "$PWD/.env"
    restart: always
    ports:
      - '8080:8080'
    tty: true
    depends_on:
      - postgres

volumes:
  pgdata:
    driver: local